<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
</head>
<body>
<h1 th:text="${title}">title</h1>

<div th:object="${question}">
	<p th:text="'uId: ' + *{uId}"></p>
	<p th:text="'categoryId: ' + *{categoryId}"></p>
	<p th:text="'questionId: ' + *{questionId}"></p>
	<p th:text="'questionContent: ' + *{questionContent}"></p>
	<p th:text="'answer: ' + *{answer}"></p>
	<p th:text="'explanation: ' + *{explanation}"></p>
	
	<button th:text="'choice1: ' + *{choice1}"></button><br>
	<button th:text="'choice2: ' + *{choice2}"></button><br>
	<button th:text="'choice3: ' + *{choice3}"></button><br>
	<button th:text="'choice4: ' + *{choice4}"></button><br>
	
	<div th:if="${nextButtonFlag}">
		<a th:href="@{'/inquiry/question/1/' + *{questionId + 1}}">
			<span>次へ</span>
		</a>
	</div>
	<br>
	<div th:if="*{questionId} neq 1">
		<a th:href="@{'/inquiry/question/1/' + *{questionId - 1}}">
			<span>戻る</span>
		</a>
	</div>
</div>

<script>
function MyFunction1(text) {
	alert(text);
}
</script>


</body>
</html>